{% extends "core/index.html" %}

{% block title %}Lista de Estudiantes{% endblock %}

{% block contenido %}

    <form method="GET" class="mb-3">
        <div class="input-group" style="max-width: 400px;">
            <input type="text" name="q" class="form-control" placeholder="Buscar por nombre..." value="{{ query }}">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </div>
    </form>

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow-sm">
            <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center px-4">
                <span class="fw-bold text-center w-100">Lista de Estudiantes</span>
                <a href="{% url 'estudiante_form' %}" class="btn btn-light btn-sm fw-semibold">
                    + Agregar Estudiante
                </a>
            </div>
            <div class="card-body p-0">
                {% if lista_estudiantes %}
                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <thead class="bg-light text-center">
                            <tr>
                                <th>N° Estudiante</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Documento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for est in lista_estudiantes %}
                            <tr class="text-center">
                                <td>{{ est.nro_estudiante }}</td>
                                <td>{{ est.nombre }}</td>
                                <td>{{ est.apellido }}</td>
                                <td>{{ est.documento }}</td>
                                <td class="text-center">
                                    <a href="{% url 'estudiante_detail' est.nro_estudiante %}" class="btn btn-sm btn-outline-warning me-1">Ver</a>
                                    <a href="{% url 'estudiante_edit' est.nro_estudiante %}" class="btn btn-sm btn-outline me-1"> Modificar </a>
                                    <a href="{% url 'estudiante_delete' est.nro_estudiante %}" class="btn btn-sm btn-outline-danger me-1" onclick="return confirm('¿Seguro que deseas eliminar el Estudiante {{ est.nombre }}?')"> Eliminar </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <div class="p-4 text-center text-muted fst-italic">No se encontraron estudiantes</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

