{% extends "core/index.html" %}

{% block title %}Detalle del Estudiante{% endblock %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header bg-danger text-white text-center fw-bold">
                Información del Estudiante
            </div>
            <div class="card-body px-4 py-3">
                <p><strong class="text-danger">Nombre:</strong> {{ estudiante.nombre }}</p>
                <p><strong class="text-danger">Apellido:</strong> {{ estudiante.apellido }}</p>
                <p><strong class="text-danger">N° Estudiante:</strong> {{ estudiante.nro_estudiante }}</p>
                <p><strong class="text-danger">Fecha de Nacimiento:</strong> {{ estudiante.fecha_de_nacimiento }}</p>
                <p><strong class="text-danger">Fecha de Alta:</strong> {{ estudiante.fecha_de_creacion }}</p>
                <p><strong class="text-danger">Teléfono:</strong> {{ estudiante.nro_telefono }}</p>
                <p><strong class="text-danger">Documento:</strong> {{ estudiante.documento }}</p>

                <div class="text-center mt-4">
                    <a href="{% url 'estudiante_list' %}" class="btn btn-danger rounded-pill px-4 py-2">
                        Volver a la lista
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
